body{background-color: #70ce05;}

h1{ margin-left: 40%;color: #346100;}

header{background-color: #497e0d;}

nav{margin-left: 25px; }

img {width: 400px;float: right;margin-right:200px;}

p{color: rgba(27, 53, 3, 0.801);width: 50%;float: left;
     padding: 50px; margin-left: 200px;}